.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  text-align: center;
  margin-top: 10px;
}
.players {
  background-color: antiquewhite;
}
.cart {
  background-color: bisque;
}
